
.thumbnail{
	background:transparent;
}
.navbar-inverse{
	background: transparent;
	border:none;
}
.jumbotron{
	background: transparent;
	text-transform: capitalize;
	text-align: center;
	height: 300px;
	background-color: rgba(5,5,5,.5);
}
h3{ color:white;
	font-weight: bold;
}
.btn-default {
	background-color: rgba(5,5,5,.5);
	color:white;
	float:right;
	font-weight: normal;
}
.thumbnail{
	border-color:transparent;
}
.thumbnail > img{
	height:250px;
	width:100%;
}

.thumbnail > .caption > p{
	color:white;
	font-weight:bold;
}
.caption{ 
	color:white;
	background: rgba(5, 5,5,.5);
	border-top: 1px solid rgba(0,0,0,0.2);
}
#hr1{
		
		border-top: 1px solid #f8f8f8;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
#jumboH1{
	color: white;
	padding-top: 1%;
}

body{
	background:url(daniil-silantev-318853-unsplash.jpg);
	background-attachment: fixed;
	padding-top: 5%;
	background-size:100% auto;
}
.carousel-inner{
	width:100%;
	margin:auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width:80%;
	margin:auto;
}

.navbar-inverse .navbar-brand 
{
	color: white;
}

.navbar-inverse .navbar-nav > li >a {
	color: white;
	font-size: 1.5em;
	}

.navbar-inverse .navbar-nav > li >a:hover{
		color:rgb(128, 128, 128);
	}

.navbar-inverse .navbar-brand 
{
	color: white;
}